{% extends 'base.html' %}
{% load categoria_extras %}
{% block well %}

{%for item in category%}
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">{{item.name}}</h3>
	  </div>
	  <div class="panel-body">
	    {% for x in item.children %}
		<legend>
			<a href="#"><span class="glyphicon glyphicon-tag"></span></a> {{x.name}}
		</legend>
		{% for w in x.questao %}
			<div class="questaox">
			<h4>{{w.name}}</h4>
			<form action="{% url 'senderpost' %}" method="post">
				{% csrf_token %}
				{{w.form.questao}}
				{% for form in w.form.resposta %}
				
					<label class='pai' >{{form.tag}} {{form.choice_label}}</label> 
				{%endfor%}
				<button type="submit">ok</button>
			</form>

			<div class="row respostasfilhas hide">
			<hr />
				<div class="col-md-1">
				</div>
				<div class="col-md-11">
					{% for q in w.questao_filho %}
						<p>{{q.name}}</p>
						<div class="row ">
							<form action="{% url 'senderpost2' %}" method="post">
								{% csrf_token %}
								{{q.form.questao}}
							{% for form in q.form.resposta %}
								
								<div class="col-md-12">
									<label class='filho'><small>{{form.tag}} {{form.choice_label}}</small></label> <br />
								</div>	
									
							{%endfor%}
							<button type="submit">ok</button>
							</form>	 		
						</div>
					{%endfor%}	
				</div>
			</div>
			</div>
			
		{%endfor%}
		<br /><br />
		
		{%endfor%}
	  </div>
	</div>


	
	
{%endfor%}

{% endblock well %}
{% block scripts %}
        
        
<script type="text/javascript">
	$(function(){
		
		$('.pai').click(function(){			
			if ($.trim($(this).text()) == 'Sim'){
				$(this).parents('.questaox').find('.respostasfilhas').removeClass('hide');
			}else if ($.trim($(this).text()) == 'Não'){
				$.ajax(
					url:"{% url 'senderpost' %}",
					method:'post',
					data:$(this).parents('.questaox').find('form').serialize(),
					success:function(data){
						console.log(data);
				});
				$(this).parents('.questaox').find('.respostasfilhas').addClass('hide');
				return false;
			}
		})
	});
</script>
{% endblock scripts %}