{% extends 'base.html' %}
{% load categoria_extras %}
{% load humanize %}
{% block well %}

{%for item in category%}
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">{{item.name}}</h3>
	  </div>
	  <div class="panel-body">
	    {% for x in item.children %}
		<legend>
			<a href="#"><span class="glyphicon glyphicon-tag"></span></a> {{x.name}}
		</legend>
		{% for w in x.questao %}
			<div class="questaox">
			<h4>{{w.name}}</h4>
			<form action="{% url 'senderpost' %}" class='form-pai' method="post">
				{% csrf_token %}
				{{w.form.questao}}
				{% for form in w.form.resposta %}
				
					<label class='pai' >{{form.tag}} {{form.choice_label}}</label> 
				{%endfor%}
				<p class='pull-right'>
				<small class="text-muted date_joined">
				{%if w.resposta.date_joined %}	
				<span class='glyphicon glyphicon-ok'></span> Salvo {{w.resposta.date_joined|naturaltime}}
				{%endif%}
				</small>
				</p>
			</form>

			<div class="row respostasfilhas hide">
			<hr />
				<div class="col-md-1">
				</div>
				<div class="col-md-11">
					{% for q in w.questao_filho %}
						<div class="questaow">
							<p>{{q.name}}</p>
							<p class='pull-right'>
									<small class="text-muted date_joined2">
										{%if q.resposta.date_joined %}	
											<span class='glyphicon glyphicon-ok'></span> Salvo {{q.resposta.date_joined|naturaltime}}
										{%endif%}
									</small>
								</p>
							<div class="row ">
								<form action="{% url 'senderpost2' %}" class='form-filho' method="post">
									{% csrf_token %}
									{{q.form.questao}}
								{% for form in q.form.resposta %}
									
									<div class="col-md-12">
										<label class='filho'><small>{{form.tag}} {{form.choice_label}}</small></label> <br />
										
									</div>	
										
								{%endfor%}
								
								</form>	 		
							</div>
						</div>
					{%endfor%}	
				</div>
			</div>
			</div>
			
		{%endfor%}
		<br /><br />
		
		{%endfor%}
	  </div>
	</div>


	
	
{%endfor%}

{% endblock well %}
{% block scripts %}
        
        
<script type="text/javascript">
	$(function(){
		$('.radiox').each(function( index ) {			
			if ($(this).attr('checked') == 'checked'){
				//console.log( index + ": " + $( this ).val());
				if ($( this ).val() > 0){
					$(this).parents('.questaox').find('.respostasfilhas').removeClass('hide');	
				}
			}
		});


		$('.pai').click(function(){
			var $this = $(this);
			
			if ($.trim($(this).text()) == 'Sim'){
				$(this).parents('.questaox').find('.respostasfilhas').removeClass('hide');
			}else if ($.trim($(this).text()) == 'Não'){
				$.ajax({
					url:"{% url 'senderpost' %}",
					type:'post',
					data:$(this).parents('.questaox').find('.form-pai').serialize(),
					success:function(data){						
						$this.parents('form').find('.date_joined').text(data);
					}
				});

				
				$(this).parents('.questaox').find('.respostasfilhas').addClass('hide');
				//return false;
			}
		});

		$('.filho').click(function(){
			var $this = $(this);
			$.ajax({
				url:"{% url 'senderpost2' %}",
				type:'post',
				data:$this.parents('.questaow').find('.form-filho').serialize(),
				success:function(data){					
					$this.parents('.questaow').find('.date_joined2').text(data);
				}
			});
			
		})
	});
</script>
{% endblock scripts %}